@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import "trix/dist/trix";

// .trix-button-group.trix-button-group--block-tools,
.trix-button-group.trix-button-group--file-tools,
.trix-button-group.trix-button-group--history-tools {
  display: none;
}

trix-editor {
  &.form-control {
    min-height: 20rem;
    height: auto;
  }
}

.trix-content h1 {
  font-weight: 600;
}

html { background-color: $color-background; }
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color-background;
  header{}
  section{flex: 1}
  footer{}
}

h2, h3, h4, h5 { font-weight: 500; }

h1{ font-size: 1.6rem; font-weight: 600; }
h2{ font-size: 1.4rem; }
h3{ font-size: 1.2rem; }
h4{ font-size:   1rem; }
h5{ font-size: 0.8rem; }
a{ color: $color-link-clean; }
