@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html { background-color: $color-background; }
body {
  background-color: $color-background;
  height: 100vh;
}

h2, h3, h4, h5 { font-weight: 500; }

h1{ font-size: 1.6rem; font-weight: 600; }
h2{ font-size: 1.4rem; }
h3{ font-size: 1.2rem; }
h4{ font-size:   1rem; }
h5{ font-size: 0.8rem; }
a{ color: $color-link-clean; }
