.show_content {
  flex: 1;
  background: #fff;
  border-radius: 5px;
  padding: 2rem;

  .show_dates {
    font-size: .9rem;
    color: $color-grey-clean;
  }

  .show_image {
    margin-top: 10px;

    img { height: 320px; width: auto; }
    .img_show {
      // object-fit: contain;
    }
  }

  .show_description {
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
  }
}
