.show_content {
  flex: 1;
  background: #fff;
  border-radius: 5px;
  padding: 2rem;

  .show_dates {
    font-size: .9rem;
    color: $color-grey-clean;
  }

  .show_image {
    margin-top: 10px;

    img { height: 320px; width: auto; }
    .img_show {
      // object-fit: contain;
    }
  }

  .show_votable {
    .icones .tag {
      border: 1px solid #ddd;
    }

    .like {
      font-size: .75rem;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $color-link-clean;
      }
    }
  }

  .show_description {
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
  }
}

.show_edit_user {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .base_edit_user {
    padding: 2rem;
    padding-top: 6rem;
    background: #fff;
    border-radius: 5px;
    position: relative;

    .photo_user {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: absolute;
      top: -75px;
      right: 90px;
      border: 4px solid #fff;
    }
  }

}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
