%main.mb-5
  .container.mt-5
    .wrapper_form
      .columns.is-centered
        .column.is-8
          - if params[:type_subject] == 'post'
            = render 'form', post: @post, title: "#{ t 'add_article' }"
          - else
            = render 'form', post: @post, title: "#{ t 'add_video' }"
