%main
  = render 'shared/banner'
  .container
    .wrapper_content
      .wrapper_grids
        .grid_content.has-background-white{style: 'border-radius: 5px; padding: 1rem'}
          - @posts.each do |post|
            - cache post do
              = render 'videos', post: post

        .grid_aside
          = render 'shared/tags'
