%main
  = render 'shared/banner'
  .container
    .wrapper_content
      .wrapper_grids
        .grid_content

          - @posts.each do |post|
            - cache post do
              =render 'posts', post: post

        .grid_aside
          = render 'shared/tags'

    .pagination
      = paginate @posts
%br
